body {
    background-color:black;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#content {
    font-size: 250%;
    margin: 0 5%;
    line-height: 60px;
}

#header {
    text-align: center;
    font-size: 300%;
}
