body {
    background-color:black;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#content {
    font-size: 250%;
    margin: 0 5%;
    line-height: 60px;
}

#header {
    text-align: center;
    font-size: 300%;
}

.controls {
    z-index: 599;
    position: relative;
    margin-left: 9.4em;
    font-size: 10px;
    height: 100%;
}

.control-button::selection {
    background-color: transparent;
}

.control-button::moz-selection{
    background-color: transparent;
}

.control-button::webkit-selection{
    background-color: transparent;
}

.controls .control-button {
    float: left;
    width: 2em;
    height: 0;
    padding: 2.5em 1.6em;
    display: block;
    cursor: pointer;
}

.control-button.inactive {
    color: grey;
    cursor: default;
}

.controls .glyphicon {
    font-size: 24px;
    margin-top: -0.5em;
}

@media only screen and (max-width: 950px) {
    .controls {
        margin-left: 5em;
    }
}
@media only screen and (max-width: 900px) {
    .controls {
        margin-left: 5em;
    }
}
