body {
    background-color:black;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.black-on-white {
    background-color: white;
    color: black;
}

.white-on-black {
    background-color: black;
    color: white;
}

#content-wrapper {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.serif {
    font-family: serif, 'Crimson Text';
}

.sans-serif {
    font-family: sans-serif, 'Open Sans';
}

#content {
    font-size: 250%;
    margin: 0 5%;
    line-height: 60px;
    text-align: justify;
}

#header {
    text-align: center;
    font-size: 300%;
}

.justify-fix {
    display: inline-block;
    width: 100%;
}
