body {
    background-color:black;
    color: white;
}

#content {
    font-size: 250%;
    height: 90%;
    overflow:hidden;
}

#controls {
    position: absolute;
    top: 0px;
    right: 0px;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    height: 10%;
}
